**/__pycache__
*/__pycache__/*
*/*/__pycache__/*
**/venv
**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/docker-compose*
**/compose*
**/Dockerfile*
**/task_README.md
**/Pipfile
**/Pipfile.lock
